node_modules/
mobile-web/
storage/

.tmp-*.html
.tmp-*.js
*.log
.env
.env.*
!.env.example
logs/

eng.traineddata

android/.gradle/
android/build/
android/app/build/
android/local.properties

*.keystore
*.jks
